@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";
@theme {
  --color-primary: #242424;
  --color-secondary: #2e2e2e;
  --color-tertiary: #3a3a3a;
  --font-ubuntu: "Ubuntu", sans-serif;
}
